@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
/* General classes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 1140px;
  margin: 0 auto;
}

.mts {
  font-family: "Montserrat", sans-serif;
}

.middot {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 18px;
  color: #b5b5b5;
  margin: 0 10px;
  /* border: 1px solid black; */
}
/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .links a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  color: #222222;
  margin-left: 35px;
}

.header .links i {
  margin-right: 15px;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  line-height: 18px;
  margin-top: 20px;
}

nav i {
  position: relative;
  bottom: 3px;
}
nav .links {
  width: 69%;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #222222;
  font-size: 14px;
}

nav button {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
}

nav button:hover {
  cursor: pointer;
}

/* Advertisement */
.adv {
  text-align: center;
  background: #f0f0f0;
  font-weight: 400;
  color: #222222;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.adv-l {
  margin: 20px 0;
  padding: 5px 0;
  width: 100%;
}

.adv-s {
  padding-top: 5px;
  width: 290px;
  height: max-content;
}

.adv-sp {
  width: 300px;
  padding: 20px 5px 5px 5px;
}

.adv-sp img {
  width: 95%;
}
.adv-s img {
  width: 100%;
}
/* top news section */
.top-news {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 15px 0;
}

.top-news .text-content {
  width: 560px;
}

.top-news .text-content p:first-of-type {
  font-weight: 600;
  color: #096ffa;
  margin-top: 5px;
}

.top-news .text-content h1 {
  margin: 10px 0;
  text-align: left;
  font-size: 32px;
  letter-spacing: -0.64px;
  font-family: "Helvetica Neue", sans-serif;
}

.top-news .text-content p:nth-of-type(2) {
  font-weight: 400;
  color: green;
  font-size: 16px;
  line-height: 27px;
  color: #222222;
}

.top-news .text-content p:nth-of-type(3) {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0;
  display: flex;
  align-items: center;
  height: 30px;
}

.top-news .text-content span {
  font-family: "Montserrat";
  font-size: 12px;
  color: #798692;
}
.top-news .text-content span:nth-of-type(2) {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 18px;
  color: #b5b5b5;
  margin: 0 10px;
}

.top-news .text-content button {
  background: #096ffa;
  border: none;
  border-radius: 20px;
  letter-spacing: 0.24px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  width: 160px;
  height: 30px;
}

.image {
  width: 560px;
}

.image img {
  width: 100%;
}
/* Top News Cards */
.tn-cards-cont {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin: 30px 0 50px 0;
}

.top-news-cards {
  /* border: 1px solid black; */
  width: 270px;
}

.top-news-cards img {
  width: 100%;
}

.top-news-cards .card-title {
  color: #096ffa;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 1.2px;
  font-size: 12px;
  margin: 8px 0;
}

.top-news-cards .card-content {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 24px;
}

/* Card Common properties */
.card-date {
  font-family: "Montserrat";
  font-size: 12px;
  color: #798692;
}

.card-author {
  font-family: "Montserrat";
  font-size: 12px;
  color: #798692;
}

/* Small ad section */
.small-ad-comp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
  border-bottom: 1px solid #e3e3e3;
}
.small-ad-comp .content {
  width: max-content;
}

.sac-card-cont {
  margin-top: 10px;
  display: flex;
  /* justify-content: space-between; */
  border-right: 1px solid #e3e3e3;
}

.rcwsa-card-l {
  width: 365px;
}

.rcwsa-card-l img {
  width: 100%;
}

.sac-card-cont .card-title {
  color: #096ffa;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 1.2px;
  font-size: 12px;
  margin: 8px 0;
}

.sac-card-cont > div {
  margin-right: 25px;
}

.rcwsa-card-l .card-content {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  line-height: 26px;
  text-align: left;
}

.rcwsa-cards-s .card-image-cont {
  margin-right: 10px;
}
.rcwsa-cards-s {
  /* height: 100px; */
  width: 420px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.rcwsa-cards-s + .rcwsa-cards-s {
  border-top: 1px solid #e3e3e3;
}
.rcwsa-cards-s:first-of-type {
  padding-top: 0;
}
.rcwsa-cards-s:nth-of-type(3) {
  padding-bottom: 0;
}
.rcwsa-cards-s .card-title {
  margin: 0 0 8px 0;
}

.rcwsa-cards-s .card-content {
  margin-bottom: 10px;
  line-height: 20px;
}
.rcwsa-cards-s .card-content {
  font-size: 14px;
  font-weight: 500;
}

/* Socials Container */
.socials {
  padding: 40px 0;
  display: flex;
}

.socials > div:first-of-type {
  width: 365px;
  padding-right: 25px;
  border-right: 1px solid #e3e3e3;
  height: 400px;
}

.socials > div:first-of-type img {
  /* z-index: 2; */
}
.socials > div:first-of-type div {
  position: relative;
  left: 5px;
  bottom: 80px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  width: 340px;
  z-index: -1;
  font-size: 12px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.socials > div:first-of-type div p {
  margin-bottom: 5px;
}
.socials div:nth-of-type(2) {
  width: 500px;
  padding-left: 90px;
}

.socials div:nth-of-type(2) p {
  color: #222222;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

/* NEWSLETTER */
.newsletter {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  padding: 1em;
  border-radius: 15px;
}

.newsletter form {
  display: flex;
  justify-content: space-between;
}

.newsletter div:first-of-type {
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 50%;
}
.newsletter div:nth-of-type(2) {
  width: 43%;
}

.newsletter form input {
  width: 70%;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  background: #ffffff34;
  border: 1px solid #ffffff41;
}

.newsletter form button {
  background: #096ffa;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 130px;
  border-radius: 30px;
  border: none;
}

.newsletter form input:focus {
  outline: none;
  color: white;
}
.newsletter img {
  margin-right: 20px;
}

/* More Stories SEction */
.more-stories > div {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.more-stories-cards {
  border: 1px solid black;
  width: 50%;
}

.more-stories-cards .adv-l {
  border: 10px solid black;
}
.slider-comp .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-comp title p {
  font-weight: 600;
}
.slider-comp title p i {
  font-size: 8px !important;
}
.slider-comp .cards {
  display: flex;
}

.lp-cards {
  border: 1px solid black;
  padding: 10px;
  width: 230px;
}

.lp-cards .card-content {
  color: #222222;
}

.lp-cards + .lp-cards {
  margin-left: 25px;
}
