@media (max-width: 500px) {
  .newsletter .container > div:first-of-type {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
  }

  .newsletter img {
    margin: 15px 0;
  }

  .newsletter p:first-of-type {
    margin-bottom: 10px;
  }
  .newsletter .container > div:nth-of-type(2) {
    width: 80%;
  }

  .newsletter .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .newsletter .container form input {
    width: 100%;
    margin-bottom: 15px;
  }

  .newsletter button {
    margin-left: 15px;
    height: 36px;
    width: 150px;
  }

  .more-stories-cards .card-image-cont img {
    width: 190px;
  }
  .more-stories-cards .card-content {
    font-size: 12px;
    font-weight: 500;
    /* line-height: 18px; */
    height: 60px;
    margin-bottom: 0px !important;
    overflow: hidden;
  }
  /* .more-stories-cards > div:nth-of-type(2) p:nth-of-type(3) {
    border: 1px solid black;
  } */
}

@media (max-width: 576px) {
  .container {
    width: 95%;
  }

  .ad-b-tn {
    margin: 0 auto;
    width: 85%;
    margin: 30px auto;
  }

  .top-news .container {
    border-bottom: 1px solid #eeeeee;
  }
  .tn-cards-cont .container {
    flex-direction: column;
  }
  .top-news-cards {
    width: 100%;
    display: flex;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee;
  }
  .tn-cards-cont {
    border-top: 1px solid #eeeeee;
  }
  .top-news-cards .card-image-cont {
    margin-right: 10px;
  }

  .top-news-cards .card-image-cont img {
    width: 180px;
  }

  .top-news-cards .card-title {
    margin: 0 0 2px 0;
  }

  .top-news-cards .card-content {
    height: 65px;
    font-size: 14px;
    line-height: 18px;
  }

  .top-news-cards > div:nth-of-type(2) p:nth-of-type(3) {
    font-size: 10px;
    height: 20px;
    overflow: hidden;
  }

  .small-ad-comp .content h2 {
    text-align: left;
  }
  .sac-card-cont {
    justify-content: flex-start !important;
  }
  .vcctv .container {
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid #e2e2e2;
    border-radius: 0px;
    margin-bottom: 25px;
    padding: 20px 0 0 0;
  }
  .vcctv .container > div:nth-of-type(2) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .vcctv .text-content {
    margin-top: 15px;
  }
  .vcctv .text-content p:nth-of-type(2) {
    height: 100px;
    overflow: hidden;
  }
  .more-stories .adv {
    display: none;
  }

  footer .other-links {
    width: 80%;
    justify-content: center;
  }
  footer .other-links a + a {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  footer .products {
    width: 90%;
    justify-content: center;
  }
  footer .products span {
    margin-right: 10px;
  }
  footer .products a + a {
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .more-stories-cards {
    margin-bottom: 30px;
  }
  .more-stories-cards .card-content {
    padding-right: 0px;
    /* border: 1px solid black; */
    margin-bottom: 5px !important;
    font-weight: 500;
    font-size: 16px;
    height: 60px;

    /* border: 1px solid black; */
  }

  .more-stories-cards > div:nth-of-type(2) p:nth-of-type(3) {
    /* border: 1px solid black; */
    font-size: 10px !important;
    height: 20px;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .top-news .text-content button {
    display: none;
  }

  .top-news .text-content h1 {
    font-size: 20px;
  }
  .top-news .text-content p:nth-of-type(2) {
    height: 80px;
    overflow: hidden;
  }

  .top-news-cards .card-image-cont img {
    width: 150px;
  }
  .top-news-cards .card-title {
    font-size: 10px;
  }
  .top-news-cards .card-content {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
    height: 54px;
    overflow: hidden;
  }

  .top-news-cards .card-date {
    font-size: 10px;
  }
  .top-news-cards .middot {
    margin: 0 2px;
    font-size: 12px;
  }
  .top-news-cards .card-author {
    font-size: 10px;
  }

  .top-news-cards div:nth-of-type(2) p:nth-of-type(3) {
    font-size: 8px !important;
    height: 20px;
    overflow: hidden;
    line-height: 15px;
  }
  .more-stories-cards .card-title {
    font-size: 10px !important;
    letter-spacing: 1px !important;
    margin-bottom: 0px !important;
  }
  .more-stories-cards .card-image-cont {
    margin-right: 5px;
  }
  .more-stories-cards .card-image-cont img {
    width: 130px !important;
  }
  .more-stories-cards .card-content {
    height: 43px !important;
    line-height: 14px;
    overflow: hidden;
    font-size: 12.3px !important;
    margin-bottom: 0px !important;
    /* border: 1px solid black; */
  }
  .more-stories-cards > div:nth-of-type(2) p:nth-of-type(3) {
    font-size: 8px !important;
    height: 20px;
    overflow: hidden;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .adv p {
    margin-top: 2px;
  }

  .ad-b-tn {
    display: none;
  }
  .top-news-cards {
    width: 45%;
    margin-bottom: 40px;
  }

  .tn-cards-cont .container {
    flex-wrap: wrap;
  }

  .top-news-cards .card-content {
    height: 100px;
  }

  .vcctv .container > div:nth-of-type(2) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .vcctv .text-content {
    margin-top: 15px;
  }
  .more-stories-cards {
    margin-bottom: 30px;
  }
  .more-stories-cards .card-content {
    padding-right: 0px;
    height: 72px;
    width: 300px;
    overflow: hidden;
    margin-bottom: 0px;
    /* border: 1px solid black; */
  }
  footer .other-links {
    width: 80%;
    justify-content: center;
  }
  footer .other-links a + a {
    margin-left: 10px;
  }
  footer .products {
    width: 85%;
    justify-content: center;
  }

  footer .products a {
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .adv-l {
    display: none;
  }
  .more-stories-cards {
    padding-right: 0px;
  }

  /* .more-stories-cards:nth-of-type(1) {
    display: none;
  } */

  .more-stories-cards:nth-of-type(6) {
    display: none;
  }
  .more-stories-cards:nth-of-type(9) {
    display: none;
  }
  .more-stories-cards:nth-of-type(10) {
    display: none;
  }
  .more-stories-cards:nth-of-type(11) {
    display: none;
  }
  .more-stories-cards:nth-of-type(12) {
    display: none;
  }
  .sac-card-cont {
    border-right: none;
  }
  .content {
    order: 2;
    margin-top: 50px;
  }

  .sac-card-cont {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .rcwsa-card-l {
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
  }
  .rcwsa-card-s {
    margin-right: 0;
    width: 100%;
  }
  .small-ad-comp {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
  }
  .small-ad-comp .adv-s {
    margin: 30px 0;
    width: 90%;
    order: 1;
  }

  .sac-card-cont > div:nth-of-type(2) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .advl1 img {
    width: 650px;
  }
  .advl2 img {
    width: 600px;
  }
  .adv p {
    margin-top: 5px;
  }
  /* .small-ad-comp {
    flex-wrap: wrap;
    justify-content: center;
  } */
  .rcwsa-card-l {
    width: 280px;
  }
  .rcwsa-cards-s {
    width: 380px;
  }
  .small-ad-comp {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
  }

  .small-ad-comp .adv-s {
    margin: 30px 0;
    width: 70%;
  }
  .vcctv .text-content {
    margin-top: 15px;
    width: 530px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .advl1 img {
    width: 830px;
  }
  .advl2 img {
    width: 700px;
  }

  .image {
    width: 660px;
    margin-left: 10px;
  }
  .top-news .text-content h1 {
    font-size: 24px;
    margin: 8px 0;
  }
  .top-news .text-content p:nth-of-type(2) {
    /* height: 50px; */
    font-size: 14px;
    overflow: hidden;
  }
  .top-news .text-content p:nth-of-type(3) {
    margin: 5px 0;
  }
  .top-news-cards {
    width: 232px;
  }

  .top-news-cards .card-content {
    height: 100px;
    font-size: 16px;
    /* border: 1px solid black; */
  }
  .top-news-cards .middot {
    margin: 5px;
  }

  .small-ad-comp {
    flex-wrap: nowrap;
  }
  .rcwsa-card-l {
    width: 280px;
  }
  .rcwsa-cards-s {
    width: 360px;
  }
  .small-ad-comp .adv-s {
    margin: 0;
    width: 290px;
  }
  .newsletter form button {
    margin-left: 15px;
  }
  .vcctv .container > div:nth-of-type(2) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .vcctv iframe {
    width: 48%;
  }

  .vcctv .text-content {
    width: 50%;
  }

  .vcctv .text-content p:nth-of-type(2) {
    margin-bottom: 0px;
  }
  .more-stories-cards {
    padding-right: 0px;
  }
  .more-stories-cards .container > div {
    justify-content: center;
    border: 1px solid black !important;
  }
  .more-stories-cards {
    width: 60%;
    padding-right: 0px;
  }
  .more-stories-cards .card-content {
    padding-right: 0px;
    height: 72px;
    overflow: hidden;
    margin-bottom: 0px;
  }
  .more-stories-cards > div:nth-of-type(2) p:nth-of-type(3) {
    /* border: 1px solid black; */
    height: 20px;
    overflow: hidden;
  }
}
@media (max-width: 992px) {
  .top-news .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .image {
    width: 100%;
    order: 1;
  }
  .top-news .text-content {
    width: 100%;
    order: 2;
    margin: 10px auto;
  }
  .newsletter .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .newsletter .container > div:first-of-type {
    width: 654px;
    margin-bottom: 20px;
  }

  .newsletter .container > div:nth-of-type(2) {
    width: 540px;
  }

  .more-stories .container > div {
    justify-content: center;
  }
  .more-stories h3 {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .more-stories .container > div {
    justify-content: center;
  }
  .more-stories h3 {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .advl1 img {
    width: 960px;
  }
  .advl2 img {
    width: 720px;
  }
  .image {
    width: 560px;
  }
  .rcwsa-card-l {
    width: 365px;
  }
  .rcwsa-cards-s {
    width: 420px;
  }
  .top-news-cards {
    width: 270px;
  }
  .vcctv iframe {
    width: 530px;
  }
  .more-stories-cards {
    width: 49%;
  }
  .more-stories-cards .card-title {
    font-size: 14px;
    margin-bottom: 13px;
  }

  .more-stories-cards .card-content {
    margin-bottom: 13px;
    line-height: 24px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .image {
    width: 640px;
  }
  .advl1 img {
    width: 1100px;
  }
  .advl2 img {
    width: 880px;
  }

  .adv-s {
    width: 350px;
  }

  .sac-card-cont {
    width: 900px;
  }

  .vcctv iframe {
    width: 650px;
  }

  .vcctv .text-content {
    width: 590px;
  }
  .more-stories-cards {
    width: 49%;
  }
  .more-stories-cards .card-title {
    font-size: 14px;
    margin-bottom: 13px;
  }

  .top-news-cards {
    width: 300px;
  }
  .top-news-cards .card-content {
    /* height: 80px; */
    font-size: 18px;
    /* border: 1px solid black; */
  }
  .more-stories-cards .card-content {
    margin-bottom: 13px;
    line-height: 24px;
  }
}
